/* UNIVERSAL ELEMENTS */

body { font-family: arial, sans-serif; font-size: 1em; color: #101010; overflow-x: hidden;}

header { margin-top: -10px; margin-left: -10px; padding-right: 20px;  width: 100%; height: 100px; background-color: #0F4D21; }
#logo { width: 100px; height: 100px; text-align: center; line-height: 165px; float: left; }
#title { font-family: "arial black", arial, sans-serif; font-size: 4em; color: #fff; text-transform: uppercase;}

nav { margin-left: -10px; padding: 5px 20px 5px 5px;  width: 100%; background-color: #0F4D21; border-top: 1px solid #fff; font-size: 1.2em; text-align: center; word-spacing: 5em;}
nav a { font-family: "arial black", arial, sans-serif; color: #fff; text-decoration: none; text-transform: uppercase;}
nav a:hover { text-decoration: underline; }

footer { margin-left: -8px; padding: 5px; width: 102%; height: 65px; background-color: #0F4D21; font-family: "arial black", arial, sans-serif; font-size: 0.8em; color: #fff; text-transform: uppercase; overflow: hidden;}
footer a { font-family: "arial black", arial, sans-serif; color: #fff; text-transform: uppercase; text-decoration: none;}
footer a:hover { text-decoration: underline;}
#foot { margin-right: 30px; padding: 5px; border-left: 1px solid #fff; float: right; }
#flogo { width: 75px; height: 75px; text-align: center; line-height: 105px; float: right; }

h1 { font-family: "arial black", arial, sans-serif; font-size: 2em; color: #0F4D21; text-transform: uppercase; margin-top: 0px; margin-bottom: 5px;}
b { color: #0F4D21; }
a { color: #0F4D21; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

.container { margin: 10px auto; padding: 10px; width: 75%; max-width: 930px; background-color: #fff7e6; }

/* INDEX */

#adprompt { margin: 10px auto; width: 75%; max-width: 950px; height: 150px; background-image: url('../img/top.png'); background-repeat: no-repeat; font-family: "arial black", arial, sans-serif; font-size: 3.5em; color: #FFF; text-align: center; line-height: 150px; text-transform: uppercase; }
#adprompt a { font-family: "arial black", arial, sans-serif; color: #FFF; text-decoration: none; cursor: pointer;}
#adprompt a:hover { color: #0F4D21; }

/* MENU PAGE */

#side { position: fixed; top: 150px; left: 14px; width: 20%; }
.button { width: 130px; margin-bottom: 5px; background-color: #0f4d21; padding: 10px; font-family: "arial black", arial, sans-serif; font-size: 1em; color: #fff; text-align: center; text-transform: uppercase; }
.button:hover {text-decoration: underline; cursor: pointer;}
.button a {color: #fff;}

#menu { position: relative; top: 15px; left: 170px; width: 1070px; }
.header { width: 100%; margin-bottom: 5px; padding: 10px; background-color: #0f4d21; font-family: "arial black", arial, sans-serif; font-size: 1em; color: #fff; text-transform: uppercase; }
.food { padding: 10px; margin-bottom: 20px; min-height: 350px;}
.item { margin-right: 10px; width: 200px; float: left;}

.mdesc { margin: 5px 0px 5px 0px; padding: 5px; min-height: 75px; background-color: #fff7e6; }

.long { width: 180px; }

/* CONTACT PAGE */

input { background-color: #fff7e6; }
#con { margin: 50px auto; width: 75%; line-height: 1.5em; }
textarea { width: 100%; height: 400px; background-color: #fff7e6; font-family: arial; }
#submit { margin-top: 10px; position: relative; left: 5px; padding: 10px; width: 150px; float: right; cursor: pointer; background-color: #0F4D21; font-family: "arial black", arial, sans-serif; font-size: 1em; color: #fff; text-transform: uppercase; border: none;}

/* CHECKOUT PAGE */

.why {width: 100%;}

#check {margin: 10px auto; width: 70%; line-height: 1.5em;}
#comments { width: 310px; height: 150px;}
input:hover {text-decoration: underline;}
.line { display: inline-block; width: 70px;}

.name {display: inline-block; width: 50%; margin-bottom: 5px; }
#name {width: calc(100% - 100px); margin-right: 10px;}

#email {width: calc(50% - 58px);}

.address {display: inline-block; width: calc(65% - 45px); margin-bottom: 5px; margin-right: 10px;}
#address {width: calc(100% - 75px);}

#suite { width: calc(35% - 20px);}

.city {display: inline-block; width: calc(65% - 45px); margin-bottom: 5px; margin-right: 10px;}
#city {width: calc(100% - 75px);}

#postal {width: calc(35% - 70px);}

#requests { display: block; width: 65%; height: 200px; margin: 0px auto 10px auto;}

.summaryt { width: calc(100% - 210px); line-height: 200px; margin-left: 10px; text-transform: uppercase; color: #0F4D21; font-family: "arial black", arial, sans-serif; }