/* UNIVERSAL ELEMENTS */

body { font-family: arial, sans-serif; font-size: 1em; color: #101010; overflow-x: hidden;}

header { margin-top: -10px; margin-left: -10px; padding-right: 20px;  width: 100%; height: 100px; background-color: #0F4D21; }
#title { font-family: "arial black", arial, sans-serif; font-size: 4em; color: #fff; text-transform: uppercase; text-align: center; }
#title img {position: relative; top: 15px;}

nav { margin-left: -10px; padding: 5px 20px 5px 5px; width: 100%; background-color: #fff; border-top: 1px solid #fff; font-size: 1.2em; border-bottom: 1px solid #0F4D21; text-align: center; word-spacing: 5em;}
nav a { font-family: "arial black", arial, sans-serif; color: #0F4D21; text-decoration: none; text-transform: uppercase;}
nav a:hover { opacity: 0.5; text-decoration: none;}
.activen { background-color: #0F4D21; color: #fff; padding: 6px;}

footer { margin-left: -8px; padding: 5px; width: 102%; height: 65px; background-color: #0F4D21; font-family: "arial black", arial, sans-serif; font-size: 0.8em; color: #fff; text-transform: uppercase; overflow: hidden;}
footer a { font-family: "arial black", arial, sans-serif; color: #fff; text-transform: uppercase; text-decoration: none;}
footer a:hover { text-decoration: underline;}
#foot { margin-right: 30px; padding: 5px; border-left: 1px solid #fff; float: right; }
#flogo { width: 75px; height: 75px; text-align: center; line-height: 105px; float: right; }

h1 { font-family: "arial black", arial, sans-serif; font-size: 2em; color: #0F4D21; text-transform: uppercase; margin-top: 0px; margin-bottom: 5px;}
h3 { font-family: "arial black", arial, sans-serif; font-size: 2em; color: #0F4D21; text-transform: uppercase; margin-top: 0px; margin-bottom: 5px; text-align: center;}
h4 { text-align: center; color: #0F4D21; text-transform: uppercase; font-family: arial black, arial, sans-serif;}
a { color: #0F4D21; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

.container { margin: 10px auto; padding: 10px; width: 75%; max-width: 930px; background-color: #eee; border: 1px solid #0F4D21; }

input { background-color: #fff; border: 1px solid #0F4D21; margin-bottom: 5px;}

/* INDEX */

#adprompt { margin: 10px auto; width: 75%; max-width: 950px; height: 150px; background-image: url('../img/top.png'); background-repeat: no-repeat; font-family: "arial black", arial, sans-serif; font-size: 3.5em; color: #FFF; text-align: center; line-height: 150px; text-transform: uppercase; border: 1px solid #0F4D21; }
#adprompt a { font-family: "arial black", arial, sans-serif; color: #FFF; text-decoration: none; cursor: pointer;}
#adprompt a:hover { color: #0F4D21; }
.adcontainer { margin: 10px auto; width: 75%; max-width: 950px; }
.mainad { width: 33%; max-width: 300px; height: 300px; float: left; margin-bottom: 10px; color: #fff; text-align: center; text-transform: uppercase; border: 1px solid #0F4D21; }
h2 {font-size: 2em; line-height: 0px;}
.plain { color: #000; text-transform: none;}
.plain h2 {color: #0F4D21; line-height: 0.8em;}

/* ABOUT PAGE */

.zifan { margin: 10px auto 90px auto; width: 75%; max-width: 950px; max-height: 500px; border: 1px solid #0F4D21; }
.zifan img { max-width: 950px; max-height: 500px; min-height: 100%; width: 100%; }


/* MENU PAGE */

#side { position: fixed; top: 150px; left: 14px; width: 20%; }
.button { width: 130px; margin-bottom: 5px; background-color: #fff; padding: 10px; font-family: "arial black", arial, sans-serif; font-size: 1em; color: #0F4D21; text-align: center; text-transform: uppercase; border: 1px solid #0F4D21;}
.button:hover {text-decoration: underline; cursor: pointer;}
.button a {color: #0F4D21;}

#menu { margin: 10px auto; width: 1070px; }
.itemone { width: calc(50% - 30px); height: 200px; margin-right: 5px; padding: 10px; background-color: #eee; border: 1px solid #0F4D21; display: inline-block; margin-bottom: 10px; }
.itemtwo { width: calc(50% - 30px); height: 200px; margin-left: 5px; padding: 10px; background-color: #eee; border: 1px solid #0F4D21; display: inline-block; margin-bottom: 10px; }

.food { height: 170px; float: right; width: calc(100% - 210px);}
.foodtwo { height: 133px;}

.long { width: calc(100% - 20px);}

/* CONTACT PAGE */

#con { margin: 40px auto; width: 80%; line-height: 1.5em; min-height: 620px;}
textarea { width: 100%; height: 200px; background-color: #fff; font-family: arial; border: 1px solid #0F4D21; }
#submit { margin-top: 10px; position: relative; left: 5px; padding: 10px; width: 150px; float: right; cursor: pointer; background-color: #fff; font-family: "arial black", arial, sans-serif; font-size: 1em; color: #0F4D21; text-transform: uppercase; border: 1px solid #0F4D21;}
.chalf {width: calc(50% - 10px);}
.textt { display: inline-block;}
.subjectt {width: 100%;}

/* CHECKOUT PAGE */

.why {width: 100%;}

#check {margin: 10px auto; width: 70%; line-height: 1.5em;}
#comments { width: 310px; height: 150px;}
input:hover {text-decoration: underline;}
.line { display: inline-block; width: 70px;}

.name {display: inline-block; width: 50%; margin-bottom: 5px; }
#name {width: calc(100% - 100px); margin-right: 10px;}

#email {width: calc(50% - 60px);}

.address {display: inline-block; width: calc(65% - 45px); margin-bottom: 5px; margin-right: 10px;}
#address {width: calc(100% - 80px);}

#suite { width: calc(35% - 25px);}

.city {display: inline-block; width: calc(65% - 45px); margin-bottom: 5px; margin-right: 10px;}
#city {width: calc(100% - 80px);}

#postal {width: calc(35% - 75px);}

#requests { display: block; width: 65%; height: 200px; margin: 0px auto 10px auto;}

.summaryt { width: calc(100% - 210px); line-height: 200px; margin-left: 10px; text-transform: uppercase; color: #0F4D21; font-family: "arial black", arial, sans-serif; }